<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">Scatter</a>
  <div id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'upload' %}">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'deploy' %}">Deploy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'config' %}">Config</a>
      </li>
    </ul>
  </div>
</nav>